<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="Unit">
            <file>tests/Unit/ModelTest.php</file>
            <file>tests/Unit/LoggerTest.php</file>
            <file>tests/Unit/LaporanHamaStatusTest.php</file>
            <file>tests/Unit/LaporanLainnyaTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_DEBUG" value="true"/>
    </php>
</phpunit>
