<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="Unit">
            <file>tests/Unit/ModelTest.php</file>
            <file>tests/Unit/LoggerTest.php</file>
            <file>tests/Unit/LaporanHamaStatusTest.php</file>
            <file>tests/Unit/LaporanLainnyaTest.php</file>
            <file>tests/Unit/DataStoryServiceTest.php</file>
            <file>tests/Unit/StorytellingAnalysisServiceTest.php</file>
            <file>tests/Unit/BpsDataLogicTest.php</file>
            <file>tests/Unit/HargaKomoditasScraperLogicTest.php</file>
            <file>tests/Unit/EnvironmentalAnalysisLogicTest.php</file>
            <file>tests/Unit/SidebarStateTest.php</file>
      <file>tests/Unit/DraftAutosaveIsolationTest.php</file>
      <file>tests/Unit/DashboardWeatherAlertsTest.php</file>
      <file>tests/Unit/MasterOptServiceValidationTest.php</file>
      <file>tests/Unit/UsulanOptServicePayloadTest.php</file>
      <file>tests/Unit/UsulanOptMenuContractTest.php</file>
      <file>tests/Unit/UsulanOptExcelServiceTest.php</file>
      <file>tests/Unit/UsulanOptExcelContractTest.php</file>
      <file>tests/Unit/FeedbackAttachmentUploadTest.php</file>
      <file>tests/Unit/BulkSelectionContractTest.php</file>
      <file>tests/Unit/LaporanHamaEnhancementContractTest.php</file>
      <file>tests/Unit/OptBulkDeleteContractTest.php</file>
      <file>tests/Unit/OtherReportImportServiceTest.php</file>

        </testsuite>
        <testsuite name="Integration">
            <file>tests/Integration/DataStoryServiceDatabaseTest.php</file>
            <file>tests/Integration/AdminWilayahUsulanOptContractTest.php</file>
            <file>tests/Integration/BpsDataSourceDatabaseTest.php</file>
            <file>tests/Integration/BpsMonthlyHarvestPaginationDatabaseTest.php</file>
            <file>tests/Integration/HargaKomoditasDatabaseTest.php</file>
            <file>tests/Integration/EnvironmentalAnalysisDatabaseTest.php</file>
            <file>tests/Integration/DashboardReportIntegrityDatabaseTest.php</file>
            <file>tests/Integration/LaporanHamaArchiveDatabaseTest.php</file>
            <file>tests/Integration/LaporanHamaFilterDatabaseTest.php</file>
            <file>tests/Integration/LaporanLainnyaStoreDatabaseTest.php</file>
<file>tests/Integration/PetugasNavigationAndSummaryTest.php</file>
            <file>tests/Integration/FeedbackSecurityDatabaseTest.php</file>
            <file>tests/Integration/UsulanOptReviewDatabaseTest.php</file>
            <file>tests/Integration/UsulanOptWorkflowDatabaseTest.php</file>
            <file>tests/Integration/UsulanOptBulkDeleteDatabaseTest.php</file>
            <file>tests/Integration/OtherReportImportDatabaseTest.php</file>
            <file>tests/Integration/KecepatanAnginFallbackDatabaseTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_DEBUG" value="true"/>
    </php>
</phpunit>
