# FCM & Firebase
android/app/google-services.json
**/google-services.json
*.service_account.json

# Release Secrets & KeyStore
android/key.properties
android/app/key.properties
*.jks
*.keystore
dist/

# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
android/.gradle/
android/local.properties
.packages
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
